body{
	padding:0px;
	margin:0px;
	background-color: rgb(250,249,245);
	font-family: 'Muli', sans-serif;
	padding-top:2%;
}

#header{
	color:#244363;
	padding-left: 20px;
	font-size: 32px;
	margin: 0px;
	min-width:550px;
	padding-bottom: 0px;
}

h1, h5, h2{
	margin:0px;
	padding:0px;
}

#content{
	position: relative;
}

#banner{
	min-height: 200px;
	min-width: 1000px;
	max-width: 100%;
	position:absolute;
}

#links{
	position:absolute;
	z-index:1000;
	width:100%;
	width: 400px;
	padding-left: 20px;
}


a, a:visited{
	/*background-color: #F0EAC2;*/
	color:#244363;
	text-decoration: none;
}

a:hover{
	background-color: #244363;
	color:rgb(250,249,245);
}